<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding maxReceivedMessageSize="2147483647"
                 messageEncoding="Mtom">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1581/DataService.svc" binding="wsHttpBinding"
                contract="Data.IDataService" name="DataService" />
    </client>
  </system.serviceModel>
</configuration>